.profile-container {
    border: solid 2px black;
    border-radius: 2rem;
    padding: 2rem;
    font-size: 6rem;
    height: 40vh;
    width: 70vw;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 2rem;
    margin-top: 2rem;
    background-color: lightcyan;
}