@import url(https://db.onlinewebfonts.com/c/14936bb7a4b6575fd2eee80a3ab52cc2?family=Feather+Bold);
@import url(https://fonts.googleapis.com/css2?family=Barlow&family=Molengo&display=swap);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  width: 99vw;
  overflow-x: hidden;
}

.App {
  text-align: center;
  font-size: 4rem; 
  font-family: 'Molengo', sans-serif;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 2rem;
  background-color: lightgray;
}
button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6.1rem;
  font-size: 3rem;
  padding: 1rem;
  font-family: 'Molengo', sans-serif;
  border-radius: 10px;
}
.inputs-container {
  display: flex;
  flex-direction: row;
  width: 95%;
  justify-content: flex-start;
  /* min-height: 30vh; */
}

@media screen and (max-width: 1504px) {
  .inputs-container {
    /* flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: solid 2px black;
    border-radius: 10px; */
    width: 95%;
    padding: 1rem;
  
  }
  .App {
    width: 100%;
  }
  .form-btn{
    width: 14vw;
  }
}
@media screen and (max-width: 1204px) {
  .form-btn{
    font-size: 2.5rem;
  }
  .inputs-container {
    flex-direction: column;
    width: 95%;
    justify-content: flex-start;
    /* height:33vh; */
  }
}
/* ipad screen size */
@media screen and (max-width: 821px) {
  .inputs-container {
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    /* height: 33vh; */
    width: 90%;
  }

  .App {
    padding: 1rem;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .form-btn{
    width: 25vw;
    height: 2rem;
    font-size: 2rem;
  }
  .preview-input{
    height: 2rem;
  }
  .color-input {
    height: 2rem;
  }
}

/* mobile devices */
@media screen and (max-width: 400px) {
  .inputs-container {
    flex-direction: column;
    width: 90vw;
   height: 45%;
    align-items: flex-start;
  }
  main {
    /* width: 100%; */
  }
  .App {
    padding: 1rem;
    justify-content: flex-start;
    align-items: flex-start;
  }
  button {
    height: 4rem;
    font-size: 2rem;

  }
}