h1 {
    font-family: "Feather Bold";
    font-size: 4rem;
}
.header {
   padding: 1rem;
    background-color: lightgoldenrodyellow;
    padding-left: 4rem;

}

/* ipad screen size */
@media screen and (max-width: 821px) {
    .header {
        padding-left: 2rem;
    }
  }
  
  /* mobile devices */
  @media screen and (max-width: 400px) {

  }